Django==4.2.7
whitenoise
mssql-django
#django-pyodbc-azure
python-dotenv==1.0.0
pydantic==2.5.2
openpyxl
pyodbc
sqlalchemy
azure-search-documents
azure-identity
git+https://github.com/KTC-Security-Circle/KyotoTech-Agents.git#egg=tech_agents