{% load static %}
{% load in_group %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon"href="{% static 'favicon.ico' %}">
</head>
<body>
    <div class="row">
        <div class="col-sm-6">
            <br>
            <h1>ユーザ登録</h1>
            {% for user in users %}
            {% endfor %}
            {% if user.is_authenticated %} 
            <!--ログインしているかどうかを判定-->
            {% if user|in_group:"管理者" %}
            <form method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field.label }}
                    {{ field }}
                    {{ field.errors }}
                    <br>
                {% endfor %}
                <button type="submit">登録</button>
            </form>
            {% endif %}
            {% else %}
            <a href="{% url 'login' %}">管理者アカウントでログインしてください。</a>
            {% endif %}
        </div>
    </div>
</body>
